@import url("https://fonts.googleapis.com/css2?family=Public+Sans&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Mr+Dafoe&display=swap');

/* Responsive */


*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    height: 100%;
}
body {
    font-family: 'Outfit',  sans-serif;;
    font-size: 1.2rem;
    min-height: 100%;
    background-color:#fefffb;
  }

.grid-container > * {
    box-shadow: -1px 1px 7px 0px #565ea0(0, 0, 0, 0.75);
    border-radius: 4px;
    padding: 10px;
    text-align: center;
  }


.navbar{
    grid-area: navbar;
    background-color: #f1c4d5;
}

.header{
    grid-area: header;
    background-color: transparent;
}

.secciones{
    grid-area: secciones;
    background-color: #565ea0;
}
.contacto{
    grid-area: contacto;
    background-color: #82d1f2;
}

.footer{
    grid-area: footer;
    background-color: #565ea0;
}



.grid-container {
    display: grid;
    gap: 10px;
    grid-template: 
    "navbar" auto
    "header " 100px
    "secciones" auto
    "contacto " auto
    "footer " auto 
    
    ;

}

@media (min-width: 600px) {

    .grid-container {
        display: grid;
        gap: 10px;
        grid-template: 
        "navbar" 50px
        "header " 1200px
        "secciones" 100px
        "contacto " auto
        "footer " auto 
        
        ;
    
    }
}

@media (min-width: 900px) {

    .grid-container {
        display: grid;
        gap: 10px;
        grid-template: 
        "navbar" 50px
        "header " 800px
        "secciones" 1000px
        "contacto " auto
        "footer " auto 
        ;
    
    }
}
.navbar{
    position:fixed;
    min-height: 120px;
    width: 100%;
    display: block;
    z-index: 10;
}
.header {
    /* Used to position the video and content */
    position:relative;
    z-index: 1;
    
}

.container__wrapper {
    /* Positioned at the top left corner */
    left: 0px;
    position: absolute;
    top: 0px;

    /* Take full size */
    height: 100%;
    width: 100%;

    /* Hide the scrollbar */
    overflow: hidden;
}

.container__video {
    object-fit: cover;

    /* Center the video */
    left: 50%;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);

    /* Take full width */
    width: 100%;
    
}

.container__content {
    /* Positioned at the top left corner */
    left: 0px;
    position: absolute;
    top: 0px;

    /* Take full size */
    height: 100%;
    width: 100%;

    /* Center the content */
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

@media (max-width: 200px) and (max-heigth: 160px) {
    .skin{
        font-size: 120px;
    }
}

.skin {
    font-family: 'Mr Dafoe';
    margin-top: 0.9em;
    float: center;
    color: white;
    text-shadow: 0 0 0.05em #f1c4d5, 0 0 0.3em #f75cc3, 0 0 0.3em #f75cc3;
    transform: rotate(-7deg);
  }

.logo{
    float: center;
    width: 150px;
    
}


/* Hide the dropdown's content by default */
.dropdown__content {
    display: none;

    /* Position it right below the trigger element */
    left: 0;
    padding-top: 4px;
    position: absolute;
    top: 100%;

    /* It should be on the top of other elements */
    background-color: #82d0f2;
    z-index: 9999;

    /* Size */
    height: 200px;
    width: 200px;
}

/* Show the content when hover on the container */
.dropdown:hover .dropdown__content {
    display: block;
}

.dropdown {
	box-shadow: -8px 5px 0px 0px #4cbded;
	background:linear-gradient(to bottom, #82d0f2 5%, #82d0f2 100%);
	background-color:#82d0f2;
	border-radius:18px;
	border:1px solid #82d0f2;
	color: transparent;
	cursor:pointer;
	font-family:Arial;
	font-size:17px;
	padding:8px 36px;
	text-decoration:none;
    position: relative;
    float: left;
    padding-top: 1.5cm;
}
.myButton:hover {
	background:linear-gradient(to bottom, #82d0f2 5%, #82d0f2 100%);
	background-color:#82d0f2;
}
.myButton:active {
	position:relative;
	top:1px;
}
